    ##################################################################
    # im.<---REPLACE-ME--->
    ##################################################################

    server {
        listen 80;
        listen [::]:80;
        server_name im.<---REPLACE-ME--->;
        server_name conference.<---REPLACE-ME--->;
        server_name echo.<---REPLACE-ME--->;
        server_name irc.<---REPLACE-ME--->;
        server_name proxy.<---REPLACE-ME--->;
        server_name pubsub.<---REPLACE-ME--->;
        server_name vjud.<---REPLACE-ME--->;
        root /var/www/im.<---REPLACE-ME--->;
        error_log off;
        access_log off;

        error_page 404 /assets/errors/404.html;
        error_page 500 /assets/errors/500.html;
        error_page 502 /assets/errors/502.html;

        location '/.well-known/acme-challenge' {
            default_type "text/plain";
        }

        location / {
            return              301 https://$server_name$request_uri;
        }
    }

    server {
        listen localhost:443 ssl http2;
        listen [::1]:443 ssl http2;
        server_name im.<---REPLACE-ME--->;
        root /var/www/im.<---REPLACE-ME--->;
        index index.html;

        access_log off;
        error_page 404 /assets/errors/404.html;
        error_page 500 /assets/errors/500.html;
        error_page 502 /assets/errors/502.html;

        ssl_certificate         /etc/ejabberd/certs/im.<---REPLACE-ME--->/fullchain.pem;
        ssl_certificate_key     /etc/ejabberd/certs/im.<---REPLACE-ME--->/privkey.pem;
        ssl_stapling on;

        location ~ ^/admin(.*)$ {
            proxy_pass http://127.0.0.1:5280/admin$1;
            proxy_set_header Host <---REPLACE-ME--->;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_buffering off;
            tcp_nodelay on;
        }

        location ~ ^/api(.*)$ {
            proxy_pass http://127.0.0.1:5280/api$1;
            proxy_set_header Host <---REPLACE-ME--->;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_buffering off;
            tcp_nodelay on;
        }


        location ~ ^/presence(.*)$ {
            proxy_pass http://127.0.0.1:5284/presence$1;
            proxy_set_header Host <---REPLACE-ME--->;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_buffering off;
            tcp_nodelay on;
        }

        location ~* \.(?:ico|js|jpeg|jpg|svg)$ {
            expires 1y;
            add_header Cache-Control "public";
        }
    }

    server {
        listen 80;
        listen [::]:80;
        server_name upload.<---REPLACE-ME--->;
        server_name upload.im.<---REPLACE-ME--->;
        root /var/www/im.<---REPLACE-ME--->;
        error_log off;
        access_log off;

        location '/.well-known/acme-challenge' {
            default_type "text/plain";
        }

        location / {
            return              301 https://$server_name$request_uri;
        }
    }

    server {
        listen localhost:443 ssl http2;
        listen [::1]:443 ssl http2;
        server_name upload.<---REPLACE-ME--->;
        client_max_body_size 2G;
        root /var/lib/ejabberd/upload;

        error_page 403 /assets/errors/403-upload.html;
        error_page 404 /assets/errors/404-upload.html;
        error_page 500 /assets/errors/500.html;
        error_page 502 /assets/errors/502.html;

        ssl_certificate         /etc/ejabberd/certs/im.<---REPLACE-ME--->/fullchain.pem;
        ssl_certificate_key     /etc/ejabberd/certs/im.<---REPLACE-ME--->/privkey.pem;
        ssl_stapling on;

        location /assets/ {
            alias /var/www/im.<---REPLACE-ME--->/assets/;
        }

        location ~ ^/put(.*) {
            proxy_pass https://im01.mattrude.com:5444/$uri;
            proxy_set_header Host upload.<---REPLACE-ME--->;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_http_version 1.1;
            proxy_buffering off;
            add_header       Strict-Transport-Security "max-age=31536000; includeSubdomains";
            add_header       X-Frame-Options           DENY;
            tcp_nodelay on;
            charset utf-8;
            break;
        }

##### Enable the below code for clustered configurations.
#
#        location ~ ^/get(.*) {
#            rewrite ^/get(.*) $1;
#            root /var/lib/ejabberd/upload/;
#            break;
#        }
#
#        location / {
#            try_files $uri @proxy;
#        }
#
#        location @proxy {
#            proxy_pass https://im02.mattrude.com/get$uri;
#            proxy_set_header Host upload.<---REPLACE-ME--->;
#            proxy_set_header X-Real-IP $remote_addr;
#            proxy_http_version 1.1;
#            proxy_buffering off;
#            add_header       Strict-Transport-Security "max-age=31536000; includeSubdomains";
#            add_header       X-Frame-Options           DENY;
#            tcp_nodelay on;
#            charset utf-8;
#        }
    }
